@import "tailwindcss";

/* Custom Inazuma Theme Variables */
@theme {
  --color-inazuma-dark: #0f0f1a;
  --color-electro-purple: #bb86fc;
  --color-sakura: #ffcfe2;
  --color-thunder: #f3e092;
}

:root {
  background-color: #0f0f1a; /* The deep purple-black of Inazuma */
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}